red {
    color: red;
}

bl1 {
	color: #3794C3
}

cursive {
	font-family: cursive
}

p2 {
	text-align: right;
	font-size: 10px;
}

td {
	border-style: dashed;
	border-width: 20px;
	border-top-width: 0px;
	border-color: white;
}

h2 {
	margin: 5px;
}

