red {
    color: red;
}

bl1 {
	color: #3794C3
}

cursive {
	font-family: cursive
}

p2 {
	text-align: right;
	font-size: 10px;
}

td {
	border-style: dashed;
	border-width: 10px;
	border-top-width: 0px;
	border-color: white;
}

body {
	background-color: #FFAEA5;
	margin-left: 10px;
}

.centerMe {
	margin-left: auto;
	margin-right: auto;
	display: block;
}

h2 {
	margin-bottom: 0px;
	padding: 5px;
}

