red {
    color: #C30000;
}

bl1 {
	color: #E5E5E5
}

p {
	font-family: comic sans ms;
}

p2 {
	text-align: right;
	font-size: 10px;
}

td {
	border-style: dashed;
	border-width: 15px;
	border-top-width: 0;
	padding-top: 0;
	border-color: #A4A4A4;
}

body {
	background-color: #A4A4A4;
	margin-left: 30px;
}

.centerMe {
	margin-left: auto;
	margin-right: auto;
	display: block;
}

h1 {
	font-family: impact;
}

h2 {
	font-family: arial black;
	padding: 5px;
}

table {
	font-family: comic sans ms;
}

nav ul {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: #F1BE69
}

nav ul li {
	float: left;
}

nav ul li a {
	display: block;
	padding: 8px;
	background-color: #F1BE69;
	color: #8F5F2E;
	text-decoration: none;
}

nav ul li a:hover {
	background-color: #8F5F2E;
	color: #F1BE69;
}

imgset {
	margin-top: 20px;
}