red {
    color: #FF4D4D;
}

bl1 {
	color: #E5E5E5
}

cursive {
	font-family: cursive
}

p2 {
	text-align: right;
	font-size: 10px;
}

td {
	border-style: dashed;
	border-width: 10px;
	border-top-width: 0px;
	border-color: #A4A4A4;
}

body {
	background-color: #A4A4A4;
	margin-left: 30px;
}

.centerMe {
	margin-left: auto;
	margin-right: auto;
	display: block;
}

h2 {
	margin-bottom: 5px;
	padding: 5px;
}