p {
	font-family: comic sans ms;
	color: #8F5F2E;
}

p2 {
	font-size: 10px;
	font-family: comic sans ms;
	color: #8F5F2E;
}

th {
	color: #6A3F13;	
}

td {
	border-style: hidden;
	padding-right: 50px;
	padding-left: 50px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #8F5F2E;
}

body {
	background: url("/imagefiles/nekoatsume.jpg") repeat;
	margin-left: 30px;
}

.centerMe {
	margin-left: auto;
	margin-right: auto;
	display: block;
}

h1 {
	font-family: impact;
	margin-top: 50px;
	color: #432201;
}

h2 {
	font-family: arial black;
	padding: 5px;
	color: #6A3F13;
}

table {
	font-family: comic sans ms;
}

ul {
	font-family: comic sans ms;
}

table tr td ul li {
	color: #AE7E4D;
	background-color: #6A3F13;
}

table tr td ol li {
	color: #AE7E4D;
	background-color: #6A3F13;
}

nav ul {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: #F1BE69
}

nav ul li {
	float: left;
}

nav ul li a {
	display: block;
	padding: 8px;
	background-color: #F1BE69;
	color: #8F5F2E;
	font-family: comic sans ms;
	text-decoration: none;
}

nav ul li a:hover {
	background-color: #8F5F2E;
	color: #F1BE69;
}

imgset {
	margin-top: 20px;
}